@import url(color-picker.css);

html {
    background-color: black;
}

h1, p, span, pre {
    color: white;
}

img {
    max-width: 100%;
}

progress {
    background-color: grey;
    border-radius: 4px;
    height: 6px;
}